<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form.errors %}
    <p>Your Username or Pass is incorrect</p>
    {% endif %}
    {% if next %}
        {% if request.user.is_authenticated %}
        <p> You dont have permission to see this page</p>
        {% else %}
        <p>please login to see this page</p>
        {% endif %}
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
        <input type="hidden" value="{{next}}">
    </form>
</body>
</html>